@charset "UTF-8";

#app {
    max-width: 1280px;
    width: 1280px;
    margin: auto;
    margin-top: 20px;
}
html {
    width: 100%;
    height: 100%;
    /*font-size: 62.5%;*/
}

body {
    width: 100%;
    height: 100%;
    /*font-size: 1.6rem;*/
}

.header-layout {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
    position: fixed;
    top: 0;
    z-index: 2147483647;
  }
  
.footer-layout {
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 40px;
}